/* Header Style */
.main,
.container > header {
	margin: 0 auto;
	padding: 2em;
}

.container > header {
	text-align: center;
	background: #FFF;
	padding: 3em;
}

.container > header h1 {
	font-size: 2.625em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 60%;
	opacity: 0.7;
	padding: 0 0 0.6em 0.1em;
}

/* Main Content */
.main {
	max-width: 69em;
}

.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 550px;
	max-width: 630px;
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0,0,0,0.5);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

/* Content styles */
.md-content {
	color: #FFF;
	background: rgba(0,0,0,0.8);
	position: relative;
	border-radius: 4px;
	border:2px solid #004000;
	margin: 0 auto;
}

.md-content h3 {
    color: #FFF;
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 30px;
	font-weight: 300;
	opacity: 0.8;
	background: #004000;
	border-radius: 0 0 4px 4px;
}

.md-content > div {
	padding: 15px 40px 15px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
	
	
}

.md-content > div p {
	margin: 0;
	padding: 10px 0;
	
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

/* Effect 11: Super scaled */
.md-effect-11 .md-content {
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	height: 580px;
}

.md-show.md-effect-11 .md-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}
#modal
{
	
	font-family:"Trebuchet MS";
	font-size:16px;
	background: #FFF;
	border-radius: 5px;
	color: #000000;
	text-align:center;
	margin:auto;
	
	
}
#modal1
{
	
	font-family:"Trebuchet MS";
	font-size:16px;
	background: #FFF;
	border-radius: 5px;
	color: #000000;
	text-align:center;
	
	
	
}

#tablita
{
	height: 420px;
	overflow: auto;
	margin-bottom: 5px;
	margin-left: auto;
	margin-top: auto;
	margin-right: auto;
}

.clsAnchoTotal{
	
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:16px;
	margin:8px;
	
}
.clsAgregarFila
{
	margin-left:120px;
	border-color:#468C00; 
	border-radius:5px;
	background-color:#004000; 
	color:#fff; 
	font-size:23px; 
	text-align: center;
	height: 50px;
	width:100px;
}

.clsAgregarFilaNoPlan
{
	margin-left:120px;
	border-color:#468C00; 
	border-radius:5px;
	background-color:#004000; 
	color:#fff; 
	font-size:23px; 
	text-align: center;
	height: 50px;
	width:100px;
}

.clsAgregarFila:hover
{
	background: #ECA22E;
}
.clsAgregarFilaNoPlan:hover
{
	background: #ECA22E;
}
.clsEliminarFila
{
	height:25px; 
	width:28px; 
	border-color:#468C00; 
	border-radius:5px;
	background-color:#004000;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
	
}
.clsEliminarFila:hover
{
background: #ECA22E;	
}
.md-trigger
{
	border-color:#ECA22E; 
	border-radius:5px;
	background-color:#ECA22E; 
	color:#004000; 
	font-size:20px; 
	text-align: center;
	width:30px;
	text-decoration:none;
}

.md-close
{
	border-color:#468C00; 
	border-radius:5px;
	background-color:#004000; 
	color:#fff; 
	font-size:23px; 
	text-align: center;
	height: 50px;
	width:100px;
}
.md-close:hover
{
background: #ECA22E;	
}
#tablita2
{
	background:#fff;
	color:#000;
	margin:auto;
	border-radius:7px 7px 7px;
}
#tablita2contenedor
{
	width:auto;
}
