@import url(http://fonts.googleapis.com/css?family=Indie+Flower);
body
{
background-image: url(../imagenes/fondo.png);
font-family: "trebuchet MS";
font-weight: bold;
font-size: 15px;
margin: auto;
}

#pie_correo
{
	color: white;
	font-size: 13px;
	height: 20px;
	margin-left: 1100px;
}
#pie_tel
{
	color: white;
	height: 20px;
	font-size: 13px;
	margin-left: 1188px;
}
#unidadaprendizaje
{

	width: 1200px;
  	margin: auto;
}
fieldset #group_seriacion
{
	width: 750px;
	float: left;
	margin-top: -30px;
	margin-left: 20px;

}
legend
{
	padding: 2px;
}
figure
{
	margin: 0;
	padding: 0;
	display: inline-block;
}
h1
{
	color: white;
	font-weight: normal;
	text-shadow:2px 2px 0 black;
	text-align: center;
	font-size: 1.5em;
	margin-top: 0px;
	margin-left: 270px;
}
h3
{
	color: #D9D9EA;
	font-size: 1.4em;
	font-weight: normal;
	text-align: center;
	text-shadow:2px 2px 0 #000;
	margin-top: 0px;
	margin-left: 265px;
}
header
{
	background: #006600;
	border-radius: 7px 7px 7px 7px;
	height: 94px;
	overflow: hidden;
	width: 1366px;
	margin: auto;
	box-shadow: 2px 2px 2px #000;
}
section
{
	background-color: rgba(104,160,26,0.3);
	border: 2.2px solid black;
	border-radius: 7px;
	height: auto;
	width: 1320px;
	margin:auto;
	margin-top: 10px;
	padding-bottom: 20px;
	transition: 0.3s ease all;
}
section:hover
{
	background-color: white;
	border: 2.2px solid orange;
	box-shadow: 0px 0px 20px orange;

}
section #primerBloque
{

	padding-top: 40px;
	height: 40px;
	width: 1220px;
	margin: auto;
}
section #segundoBloque
{

	margin: 20px 0 0 30px;
	height: 50px;
	width: 750px;

}
section #tercerBloque
{

	height: 40px;
	width: 250px;
	margin-top: -30px;
	float: left;

}
section #cuartoBloque
{

	margin-left: 700px;
	height: 105px;
	width: 430px;

}
footer
{
	background-image: url(../imagenes/footer.png);
	border-radius: 7px 7px 7px 7px;
	height: 42px;
	width: 1366px;
	margin: auto;
	margin-top:15px;
}
#Consultas
{
	width: 100%;
	height: 130px;
	margin-top:40px;
}
#tabla_coloresPe
{
	margin-left: 70px;
	margin-top: 100px;
}
.pe_tabla_colores_style
{
	float: left;
	margin-top:10px;
	margin-left: 10px;
	margin-right: 10px;


}
.pe_tabla_colores_style td
{
	border:1px solid gray;
	border-collapse: separate;
  	border-spacing: 3px;
  	background: #F0FFFF;
  	font-size: 13px;
  	height: 25px;

}


#pe_consultaActualizada
{

	font-size: 20px;
	color:#FF9900;
	margin: -50px auto;
	width: 240px;
	visibility: hidden;
}
#consultaPlan
{
	height: 150px;
	margin-top:40px;
	margin-left:80px;
	margin-bottom:100px;
	width: 1130px;
}
#consultax
{
	padding-top: 10px;
}
#consultay
{
	padding-top: 15px;
}
#consultaboton
{
	margin-left: 1100px;
	margin-top: -215px;
	height: 130px;
	width: 115px;

}
#consultaboton_limpiar
{
	padding-top: 5px;
}
.clsEliminarFila
{
	height:25px;
	width:28px;
	border-color:#468C00;
	border-radius:5px;
	background-color:#004000;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
}
.clsEliminarFila:hover
{
background: #EFCA0D;
}
.con_estilo
{
	font-size: 15px;
	width:120px;
	height:30px;
	border-radius: 5px;
	border-color: #CACAD9;
}
.coordina
{
	width: 135px;
	border-radius: 5px;
	height: 25px;
	border-color: #DBDBEA;
}
.estilo_text
{
	width: 80px;
	height: 25px;
	border-radius: 5px;
	border-color: #DBDBEA;
}
.estilo_numeric
{
	width: 80px;
	height: 25px;
	border-radius: 5px;
	border-color: #DBDBEA;
}
.estilo_button
{
	border-color:#ECA22E;
	border-radius:5px;
	background-color:#ECA22E;
	color:#004000;
	font-size:20px;
	text-align: center;
	width:30px;
	text-decoration:none;
}
.estilo_button2
{
	border-color:#468C00;
	border-radius:5px;
	background-color:#004000;
	color:#fff;
	font-size:21px;
	text-align: center;
	height: 50px;
	width:100px;
	margin-left: 10px;
}
.estilo_button2:hover
{
	background: #ECA22E;
}
#botones
{
	margin-left: 870px;
	width: 250px;
}
#limpiar
{
	float: right;
}


#cimarron
{
	float: right;
}
#GridPlanEstudio
{

	margin:auto;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 1280px;
}
#logo
{
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 60px;
	height: 80px;
}
#consultamateriaclavechecks
{
	margin-top: 15px;
	background-color: red;
	width: 100%;
}
.texto_body
{
	font-weight: bold;
	font-size: 1.2em;
	color:#003F00;
	margin-left: 50px;
}
#titulo
{
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	padding: 0;
	width: 900px;
}
#usuariofecha
{
	display: inline-block;
	font-size: 13px;
	margin-left: 0px;
}
#ubicacion
{


	display: inline-block;
	font-size: 17px;
	margin: auto;
	margin-left: 120px;
}
#loginmanual
{
	display:inline-block;
	float: right;
	font-size: 13px;
	padding-right: 65px;
}
#indicadores
{

	margin: 0 auto;
	padding-top: 35px;
	width:1320px;
	padding-bottom: 10px;
}
#consultaetapas
{
	color:#004000;
	font-size: 20px;
	margin:auto;
	margin-top: 20px;
}
#etapabasica
{
	display: inline-block;
	margin-top:40px;
	padding-left: 205px;
}
#etapadisciplinaria
{
	display: inline-block;
	padding-left: 247px;
}
#etapaterminal
{
	display: inline-block;
	padding-left: 243px;
}
#basica_semestres
{

	float: left;
	margin-top: 15px;
	width: 450px;
}
#semestre_uno
{
	float: left;
	font-size: 20px;
	margin-left: 130px;
	padding-right: 70px;

	width: 50px;
}

#semestre_dos
{
	float: left;
	font-size: 20px;
	padding-right: 70px;
	width: 50px;
}

#semestre_tres
{
	float: left;
	font-size: 20px;
	width: 50px;
}
#disciplinaria_semestres
{
	float: left;
	margin-top: 15px;
	width: 440px;
}
#semestre_cuatro
{

	float: left;
	font-size: 20px;
	margin-left: 75px;
	padding-right: 75px;
	width: 50px;
}
#semestre_cinco
{

	float: left;
	font-size: 20px;
	padding-right: 80px;
	width: 50px;
}
#semestre_seis
{

	float: left;
	font-size: 20px;
	padding-right: 60px;
	width: 50px;
}

#terminal_semestres
{
	float: left;
	margin-top: 15px;
	width: 400px;
}

#semestre_siete
{

	float: left;
	font-size: 20px;
	margin-left: 40px;
	padding-right: 75px;
	width: 50px;
}
#semestre_ocho
{

	float: left;
	font-size: 20px;
	padding-right: 75px;
	width: 50px;
}
#semestre_nueve
{

	float: left;
	font-size: 20px;
	padding-right: 60px;
	width: 50px;
}
#totalcreditos
{

	color:#004000;
	font-size: 18px;
	padding-left: 25px;
	padding-bottom: 20px;
	width: 220px;
	margin-left: 300px;
	margin-top: 200px;

}
#actualizaimprime
{
	height: 70px;
	margin-left:1110px;
	margin-top: 10px;
	padding-right: 20px;
}

.ca_btnImprimir
{
	margin-left: 1000px;
}
#guardar
{
	float:left;
}
#pe_divs_modificar
{
	margin-top: 50px;
	height: 30px;
}
.carreraDiv
{
	float:left;
	height: 30px;
	margin-right: 20px;
	margin-bottom: 20px;
	width: 210px;
}
/*.etapaDiv
{
	background: purple
	float: left;
	width: 190px;

}*/
.pe_noPlan
{
	float:right;
	height: 25px;
	width: 180px;
}

.pe_noPlan label
{
	margin-left: 10px;
	color:#fff;
	font-size: 22px;
}

/*#pe_programasAsociados
{
	height: 15px;
	width: 900px;
	font-size: 1.2em;
	margin-left: 10px;
	margin-top: -50px;

}*/

/* ESTILO PARA TABLA CON SCROLL DE REGISTRO PARA PE */

html>body div.tableContainer table {

	margin-top: -50px;
	width: 916px;
}


thead.fixedHeader tr {
	position: relative
}

html>body thead.fixedHeader tr {
	display: block
}


html>body tbody.scrollContent {
	display: block;
	overflow: auto;
	width: 100%
}

.scrollContent td
{
	color:#000;
	text-align: center;
	padding: 2px;
	border:1px dotted gray;
	background: #F0FFFF;
	font-size: 14px;
	height: 10px;
}

.fixedHeader th
{

	background: green;
	font-size: 16px;
	color: #fff;
	border:1px solid gray;
	height: 30px;
}

html>body thead.fixedHeader th {

	width: 200px
}

html>body thead.fixedHeader th + th {

	width: 100px
}

html>body thead.fixedHeader th + th + th {

	width: 100px
}

html>body thead.fixedHeader th + th + th + th {

	width: 100px
}
html>body thead.fixedHeader th + th + th + th + th {

	width: 350px
}
html>body thead.fixedHeader th + th + th + th + th + th {

	width: 50px
}

.sin-seriacion td{
	width: 916px !important;
	cursor: pointer;
}

html>body tbody.scrollContent td {
	width: 196px
}

html>body tbody.scrollContent td + td {
	width: 96px
}

html>body tbody.scrollContent td + td + td{
	width: 94px
}

html>body tbody.scrollContent td + td + td + td {
	width: 99px

}

html>body tbody.scrollContent td + td + td + td + td{
	width: 350px

}

html>body tbody.scrollContent td + td + td + td+ td + td{
	width: 50px

}




/* AQUI TERMINA EL ESTILO PARA LA TABLA CON SCROLL */


/* ESTILO PARA SCROLL DE LA CONSULTA PE */
.div_pe_tableContainer
{


	width: 650px;
}

html>body div.pe_tableContainer table {

	margin-top: -15px;
	width: 850px;
}

/* ESTILO PARA TABLA DE NO. EMPLEADO / DOCENTE DE CREACION DE HORARIOS*/


#hr_empleado_docente div.scroll  {
   width:100%;
   overflow-y: scroll;
   height:218px;
}
#hr_empleado_docente
{

	float: left;
	margin-top:10px;
	margin-bottom: 45px;
	margin-left: 10px;
	margin-right: 10px;
}
#hr_empleado_docente th
{

   	height: 40px;
   	font-size: 13px;
   	border:1px solid gray;

  	color:#fff;
	padding:1px 1px 0;
	background-color:green;
}

#hr_empleado_docente td
{

 	border: 1px solid gray;
	border-collapse: separate;
  	border-spacing: 7px;
  	background: #F0FFFF;
  	font-size: 13px;
  	height: 30px;
}

/********************************************/


.pe_BtnseriacionAgregar
{

	margin-top: 40px;
	float: right;
}
.pe_catalogos_tbl
{

	width: 900px;
	height: 230px;
	margin:auto;
}

.tablaDatos
{
	font-family:"Trebuchet MS";
	font-size: 15px;
	font-style: normal;
	text-decoration: none;
	margin:auto;
	margin-bottom: 20px;
	border-collapse: collapse;
	border: 1px solid #CCB;
	width: 100%;
}
.tablaDatos th
{
	color:green;
	height:30px;
	text-align:center;
	background: #E5E5E5;
}
.tablaDatos tr
{
	text-align:left;
}
.tablaDatos tr:nth-child(2n+0)
{
	background:#EDF7ED;
}

/*Estilo para la ventana de consulta (controles de busqueda)*/
#consul_noPlan
{
	margin-left:20px;
}

#consul_carrera
{
	margin-left:210px;
	margin-top:-30px;
}
#consul_clave
{
	margin-left:440px;
	margin-top:-30px;
}
#materiaCon
{
	text-transform:uppercase;
	width:260px;
	height: 25px;
	border-radius: 5px;
	border-color: #DBDBEA;
}
#consul_materia
{
	margin-left:630px;
	margin-top:-30px;
}
#consul_etapa
{
	margin-left:35px;
}
#consul_tipo
{
	margin-left:233px;
	margin-top:-30px;
}
/*#consul_serie
{
	margin-left:415px;
	margin-top:-30px;
}*/
#coordinacion
{
	text-transform:uppercase;
	width:265px;
	height: 25px;
	border-radius: 5px;
	border-color: #DBDBEA;
}
#consul_coor
{
	margin-left:435px;
	margin-top:-30px;
}
#elimImg
{
	float:right;
	margin-right:3px;
	margin-top:6px;
	width:13px;
	height:13px;
}
#noPlanDiv
{

	width: 250px;
	float: left;
	margin-left: 40px;
	padding-right:7px;
}
#unidadAcademicaDiv
{

	text-align: center;
	width: 300px;
	float: left;
	margin-top:5px;
	padding-left: 10px;
	padding-right: 10px;

}
/*#campusDiv
{


	width: 150px;
	float: left;
	margin-top:5px;
	padding-left: 7px;
}*/
#unidadDiv
{

	text-align: center;
	width: 300px;
	float: left;
	margin-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}
#nivelDiv
{

	text-align: center;
	width: 280px;
	float: left;
	padding-top: 5px;
}
/*#tipoProgrDiv
{

	width: 250px;
	float: left;
	padding-left: 40px;

}*/
#claveDiv
{

	width: 250px;
	float: left;
}
#materiaDiv
{

	width: 450px;
	float: left;
	padding-left: 0px;
}

/*#tipoDiv
{

	padding-left: 50px;
	width: 230px;
	float: left;
}*/

/*#claveSerDiv
{
	width: 140px;
	float: left;
	padding-left:5px;
}
#seriacionDivMateria
{

	width: 285px;
	float: left;
	padding-left:0px;
}
#seriacionDivTipo
{

	width: 300px;
	float: left;
	padding-left: 10px;
}*/
/*#semestreDiv
{

	width: 130px;
	float: left;
	padding-left:70px;
	padding-right: 30px;
}*/
#coordDiv
{
	width: 245px;


}
#hcDiv
{
	width: 120px;
	float: left;
	padding-left: 33px;
}
#hlDiv
{
	width: 150px;
	float: left;
	padding-left: 10px;
}
#htDiv
{
	width: 130px;
	float: left;
	margin-left: -15px;
}
#heDiv
{
	width: 120px;
	float: left;
	padding-left: 34px;
}
#hpcDiv
{
	width: 150px;
	float: left;
	padding-left: 0px;
}
#hclDiv
{

	width: 130px;
	float: left;
	margin-left: -15px;
}
#creditosDiv
{
	height: 35px;
	width: 150px;
	padding-left: 8px;
	float: left;

}
#pe_btnSeriacionMod
{
	margin:4px 0px 5px 28px ;
	float: left;
}
#pe_btnSeriacionMod input
{
	width:225px;
	height:30px;
	font-size:18px;
}


#observacionesDiv
{

	margin-left:60px;
	margin-top: -50px;
	float: left;
	margin-bottom: 15px;
	width: 390px;



}

#planTerminado
{

	margin-left: 1000px;
	margin-top: -20px;
	margin-bottom: 10px;
	width: 300px;

}
#checkTroncoComun
{

	width: 150px;
	margin-left: 630px;
	margin-top: -25px;

}

#acciones
{

	margin-top: 20px;
	margin-left: 765px;
	width: 530px;
	height: 55px;
}
#periodo_Ca
{

	margin: 10px;
	width: 270px;
}
#botones_Ca
{
	margin-left: 285px;
	margin-top: -65px;
	padding: 5px;
	width: 230px;
}
.coordinacion_Ca
{

	float: left;
	font-size: 22px;
	font-weight: normal;
	color:#004000;
	text-align: center;
	margin-top:20px;
	padding-left: 22px;
	width: 250px;
}
#listas_Contenedor
{
	background-color: blue;
	width: 1320px;
}

/*#mensajesIcono
{

	background: blue;
	float: right;
	height:50px;
	margin-top: -70px;
	width:250px;

}*/

#statusPlanEstudios
{

	font-size: 18px;
	float: right;
	margin-right: 90px;
	padding: 7px;
	padding-top: 12px;
	padding-bottom: 0px;
	width: 170px;

}
#checkSubdirector
{

	float: right;
	padding: 5px;
	padding-top: 12px;
	padding-right: 20px;
}



/*----------------- CATALOGOS -------------------*/

.tblCatalogos
{

	margin-left: 30px;
	height: 350px;
	width: 550px;

}
.tblCatPlan
{
	background:#ECECFB;
	border-style: none;
	border-collapse: separate;
  	border-spacing: 10px 5px;
  	border-radius: 7px;
  	font-size: 18px;
  	margin: auto;
  	margin-top: 50px;
  	padding:20px;
	width: 500px;
}
.tblCatPlan td
{
	color:#004000;
	text-align: left;

}



.lblCatalogosDependencias
{

	font-size: 20px;
	font-weight: bold;
	margin: auto;
	width: 550px;
}
.CatBotones
{

	width: 250px;
	float: right;

}


/*-----------------TERMINA CATALOGOS-------------*/

/* ---------------- USUARIOS --------------------*/
.us_ventanasCortasMod
{
	border-color:gray;
	background: #fff;
	margin-top: 25px;
	margin-bottom: 30px;
	height: 580px;
	width: 650px;
}
.us_ventanasCortas
{
	border-color:gray;
	background: #fff;
	margin-top: 25px;
	margin-bottom: 30px;
	height: 460px;
	width: 650px;


}
.us_btnRegistroUsuario_mod
{

	margin: auto;
	width: 220px;
	height: 50px;
}
#formularioRegUsuarios_olvido
{

	margin: auto;
	padding-top: 20px;
	margin-top: 30px;
	height: 400px;
	width: 600px;

}
#formularioRegUsuarios_olvido .us_preguntaMod
{
	color:green;
	margin-left: 88px;
	font-size:14px;
}



#us_divCaptcha_mod
{
	margin: auto;
	margin-top: 30px;
	margin-bottom: 20px;
	width: 450px;
	height: 100px;
}

#formularioRegUsuarios_mod
{
	margin: auto;
	padding-top: 20px;
	margin-top: 30px;
	height: 520px;
	width: 600px;
}

#formularioRegUsuarios_mod #us_noEmpleadoMod
{
	color:green;
	margin-left: 55px;
	font-size:18px;

}
#formularioRegUsuarios_mod .us_preguntaMod
{
	color:green;
	margin-left: 88px;
	font-size:14px;

}

.us_cambiar
{
	margin: auto;
	margin-bottom: 10px;
	width: 430px;
	height: 30px;
}
.us_clsRefresh
{

	background-image: url(../imagenes/refresh.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;

	height:30px;
	width:30px;
	border-radius:5px;
	border-color: #468C00;
}
.us_clsRefresh:hover
{
	border: 3px solid green;
	background-color: #fff;
	background-image: url(../imagenes/refresh.png);

}


#us_divCaptcha
{
	margin: auto;
	margin-top: 290px;
	margin-bottom: 20px;
	width: 300px;
	height: 100px;
}
.us_txtNoEmpleado
{
	padding-bottom: 10px;
	padding-left: 10px;
	width: 850px;
}

.us_nuevo_usuario
{

	float: left;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 50px;

}
.us_div
{

	margin-top: 85px;


}
.us_nuevo
{

	float: left;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 20px;
	width: 400px;
}
.us_repetir
{

	float: left;
	padding-bottom: 10px;
	padding-left: 10px;
	width: 450px;
}


.btnUnidadAcadRegistro
{

	margin-left: 410px;
	margin-top: -27px;
	width: 50px;

}

#formularioRegUsuarios
{

	height: 350px;
	border: 1px solid gray;
	padding-left: 20px;
	padding-top: 20px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 40px;
	width: 920px;
}

#us_btnRegistroUsuario
{

	margin: auto;
	margin-top: 30px;
	width: 450px;
}
#us_tablaRegistro
{
	margin-top: 10px;
}

/* ------------------------------------------------------*/


/* ---------------- BITACORA --------------------*/
#controlesBuscarBit
{

	margin: auto;
	height: 130px;
	margin-top: 15px;
	width: 850px;

}
#controlesBitacora
{

	padding-top: 15px;
	margin: auto;
	width: 850px;


}
#modulosFechasBit
{

	padding-bottom: 40px;

}
#cmbModulosBit
{

	float: left;
	padding-left: 10px;
	padding-right: 25px;
}
#fechaIniBit
{

	float: left;
	padding-left: 20px;
}
#lblFechaIniBit
{

	float: left;
	margin-top: 5px;
	padding-right: 3px;
}
#fechaFinBit
{

	float: left;
	padding-left: 40px;
}
#lblFechaFinBit
{

	float: left;
	margin-top: 5px;
	padding-right: 3px;
}
#seccionBuscarPorBit
{

	margin: auto;
	padding-left: 8px;
	width: 1250px;
	padding-bottom: 20px;
}
#cmbSeccionesBit
{

	float: left;
	padding-right: 32px;
}
#cmbBuscarPorBit
{

	float: left;
	padding-left: 43px;
}
#btnBuscarBit
{
	margin-left: 685px;
	margin-top: -20px;
	width: 120px;
}
#btnImprimirBit
{
	margin-left: 1140px;
	margin-top: 40px;
	width: 120px;
}

/*--------------------------CATALOGOS ADMIN-------------------------*/
.clsModificarFila
{
	background-image:url(../imagenes/modify.png);
	height:25px;
	width:28px;
	border-radius:5px;
	border-color: #468C00;
	background-color:#fff;
	font-size:16px;
	font-weight:bold;
}
.clsModificarFila:hover
{

	border: 3px solid green;
	background-color: #fff;
	background-image: url(../imagenes/modify.png);

}


#adminCatalogosFieldset
{

	margin: auto;
	margin-top: 20px;
	width: 420px;
	height: 80px;

}

#cmbBuscarCatalogo
{
	float: left;
	margin-left: 10px;
	margin: auto;
	margin-top:10px;
	width: 270px;
}
#btnBuscarCatalogo
{
	float:left;

}


/*---------------------TOOLTIP TEXT PARA EL GRIDVIEW-------------------------*/

 /*.tooltip{
      display: inline;
      position: relative;
  }
  .tooltip:hover:after{
      background: #333;
      background: rgba(0,0,0,.8);
      border-radius: 5px;
      bottom: 26px;
      color: #fff;
      content: attr(title);
      left: 20%;
      padding: 5px 15px;
      position: absolute;
      z-index: 98;
      width: 220px;
  }
  .tooltip:hover:before{
      border: solid;
      border-color: #333 transparent;
      border-width: 6px 6px 0 6px;
      bottom: 20px;
      content: "";
      left: 50%;
      position: absolute;
      z-index: 99;
  }*/

  /*-----------------------------PRUEBA CARRERA---------------------------------------*/
#carreraPrueba
{
	background: yellow;

	width:500px;
	height: 200px;
	margin: auto;

}
/*----------------------------------------------------------------------------------*/


/*-------------------------------CARGA ACADEMICA--------------------------------------*/
#ca_nombrePeriodo
{

	font-size: 25px;
	text-align: center;
	padding: 15px;
	width: 700px;
	margin: 30px auto 20px auto;

}
#ca_nombrePeriodo label
{
	margin-left: 10px;
	width: 200px;
	color:green;
}
.Ca_aCopiar
{

	font-size: 20px;
	text-align: center;
}
.Ca_aCopiar label
{
	color:orange;
	font-size: 30px;
	margin-left: 20px;
}
.contenedorCa
{

	height: 1700px;
	width: 1320px;
}


#btn_copiarCa
{
	width: 200px;
	margin-top:-5px;
	float: right;
}
#btn_copiarCa input
{
	width:180px;
	height:50px;
	margin-top:3px;
	font-size:16px;
}
.nombre_coordinacion
{

	font-size: 24px;
	color: green;
	height: 30px;
	margin-top: 20px;
	margin-left: 800px;
	text-align: center;
	width: 500px;

}

#planVigente
 {
 	float: left;
 	height: 600px;
 	width: 500px;
 	margin-top: 30px;
 	margin-left: 40px;
 }


#btnPlanA
{

	height: 50px;
	width: 215px;
	float: left;
	margin-top: 350px;
	padding-right: 25px;

}

 #planAnterior
 {

 	float: left;
 	height: 600px;
 	width: 500px;
 	margin-top: 12px;

 }
.periodoCa
{
	height: 40px;
	margin-top: 10px;
	margin-left: 45px;
	margin-bottom: 20px;
	width: 1230px;
}
.controlesListasCa
{


	float: left;
	height: 50px;
	text-align: center;
	margin: auto;
	width: 470px;
}
#btnNuevaCaDiv
{


	float: left;
	height: 50px;
	margin: 10px;
	width: 230px;
}
.divPeriodo
{

	float: left;
	font-size: 20px;
	height: 40px;
	margin: 0px 10px 0px 0px;
	width: 270px;
}
.listasCa
{

	height: 350px;
	margin-top: 5px;
}
.nombrePlan
{
	color: #004000;
	font-size: 24px;
	text-align: center;
	margin: auto;
	height: 50px;
	width: 200px;
}

#contenedorRegistroca_mostrar
{

	margin: auto;
	margin-top: 650px;
	margin-bottom: 30px;
	width: 1300px;

}

.filtroMaterias_ca
{
	height: 50px;
	width: 350px;
}
.filtroMaterias_ca2
{

	height: 40px;
	margin-left: 40px;
	margin-top: 50px;
	margin-bottom: 5px;

	width: 250px;

}

.cmbGrupos_superior
{

	float: left;
	margin-bottom: 10px;
	margin-left: 33px;
	margin-top: 0px;
	width: 230px;

}


/*---------------------------- CARGA 2 -----------------------------------*/
#contenedor_ca_subsecuente
{
	
}
#ca_actualiza input
{
	margin-left: 550px;
	margin-bottom: 50px;
}
.carga_listas
{


	border: 2px solid gray;
	border-radius: 10px;
	float: left;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 20px;
	height: 400px;
	width: 420px;
}
.controlesListasCa_2
{


	width: 405px;
	height: 50px;
	margin: auto;
	margin-top: -100px;

}
.nombre_semestre
{
	color: #004000;
	float: left;
	font-size: 16px;
	height: 30px;
	text-align: center;
	width: 200px;

	margin-top: 15px;
}
.nombre_plan
{
	color: #004000;
	float: left;
	font-size: 16px;
	height: 30px;
	text-align: center;
	margin-top: 15px;
	width: 200px;
}

.consultar_admin
{

	font-size: 20px;
	height: 40px;
	float: left;
	width: 230px;
}
.ca_checkstatus
{
	float: right;
	margin-top: -40px;
	height: 30px;
	width: 200px;

}
/*---------------------------CONSULTA CARGA ACADEMICA ------------------------*/


.consul_carrera_ca
{
	float: left;
	padding-right: 20px;
}

.consultax_ca
{
	font-size: 16px;
	height: 30px;
	margin: auto;
	margin-top: 15px;
	text-align: center;
	margin-right:10px;

	width: 750px;
}
.consultay_ca
{

	font-size: 16px;
	height: 50px;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 850px;
}
#consultaboton_ca
{

	height: 50px;
	margin-top: -10px;
	margin-left: 980px;
	width: 150px;
	float:left;
}

.tabla_ca
{


	float: left;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
	width: 600px;

}
.tabla_ca td
{

	border:1px solid gray;
	border-collapse: separate;
  	border-spacing: 5px;
  	background: #F0FFFF;
  	font-size: 12px;
  	height: 20px;

}

.dd_encabezado_tablaConsulta
{

	background: green;
	font-size: 12px;
	color: #fff;
	border:1px solid gray;
}
.dd_encabezado_tablaConsulta th
{
	height: 25px;
}

.dd_encabezado_colorNaranja_tablaConsulta
{
	background: #ECA22E;
	font-size: 12px;
	color:#004000;

}
.dd_encabezado_colorNaranja_tablaConsulta th
{
	height: 25px;
	border:1px solid gray;
}

.dd_encabezado_colorBlanco_tablaConsulta
{
	background: #fff;
	font-size: 12px;
	color:#000;

}
.dd_encabezado_colorBlanco_tablaConsulta th
{
	height: 25px;
	border:1px solid gray;
}


.ca_tblResumenConsulta
{
	width: 550px;
	border: 2px solid green;
	margin: 40px 20px 30px 735px;
	
}
.ca_tblResumenConsulta td
{
	background: #F0FFFF;
	text-align: left;
	border: 2px dotted green;
  	padding: 4px;
}

.ca_tblResumenEncabezado
{
	font-size: 18px;
	color:green;
	height: 30px;
	background: #fff;
}



#ajaxLoad
{
	display: none;
	width: 50%;
	/*border: 1px solid orange;*/
	position: relative;
	margin-left: 20%;
}

#ajaxLoad img
{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
}

input[readonly],input[readonly="readonly"]
{
	background-color: #E8E8E8;
}

/*----------------------------------DISPONIBILIDAD DOCENTE----------------------------------------*/
#dd_btnVerAnterior
{
	margin-left: 850px;
	margin-top: 20px;
}
#dd_btnCursos_actualizacion
{

	width: 50px;
	margin-left: 610px;
	margin-top: -120px;
}
#dd_observaciones_materias
{
	font-size: 18px;
	margin-left: 175px;
	margin-top: 30px;
	width: 500px;
}

#dd_consulta_NoEmpleado
{

	font-size: 20px;
	float: right;
}
#dd_consulta_NoEmpleado label
{
	color:green;
}

.dd_con_estilo_largo_tabla
{
	font-size: 14px;
	width:400px;
	height:25px;
	border-radius: 5px;
	border-color: #CACAD9;
}
.dd_con_estilo
{
	font-size: 14px;
	width:170px;
	height:25px;
	border-radius: 5px;
	border-color: #CACAD9;
}

.dd_con_estilo_largo
{
	font-size: 14px;
	width:250px;
	height:25px;
	border-radius: 5px;
	border-color: #CACAD9;
}
.dd_estilo_combo
{
	font-size: 14px;
	width:130px;
	height:25px;
	border-radius: 5px;
	border-color: #CACAD9;

}

.dd_estilo_cedula
{
	font-size: 14px;
	width:100px;
	height:25px;
	border-radius: 5px;
	border-color: #CACAD9;

}

.dd_con_estilo_corto
{
	font-size: 14px;
	width:70px;
	height:25px;
	border-radius: 5px;
	border-color: #CACAD9;
	margin-left:43px;
}


#dd_noEmpleado
{

	padding-bottom: 20px;
	padding-right: 10px;
	width: 200px;

}
#dd_fechaIngreso
{
	padding-bottom: 20px;
	padding-right: 10px;
	width: 390px;
}
#dd_fotoDoc
{
	background: green;
	background-image: url(../imagenes/docente.png);
	float: left;

	margin: 30px 0px 0px 80px;
	border: 3px solid green;
	height: 250px;
	width: 217px;
}


#dd_aPaterno_aMaterno_nombres_sexo
{

	float: left;
	margin-left: 90px;
	padding: 20px;
	width: 380px;
}
.dd_datosPersonales
{

	padding-bottom: 20px;
	padding-right: 10px;
	width: 400px;
}


#dd_foto
{

	margin-left: 500px;
	margin-top: -220px;
	width: 270px;
	margin-bottom: 45px;

}
#dd_RemovFoto
{
	margin-left: 750px;
	margin-top:-150px;
}

#dd_foto input
{
	border: 5px dotted #ECECFB;
	border-radius: 5px 5px 5px 5px;

	width:200px;
	height:150px;
	margin-left:43px;
}
#dd_subirFoto
{

	margin-top: -90px;
	margin-left: 750px;
	margin-bottom: 50px;
	width: 200px;
}

.dd_colonia_calle_int_ext_cp
{

	float: left;
	height: 295px;
	font-size: 18px;
	border-top: 4px dashed #BEF781;
	border-bottom: 4px dashed #BEF781;
	margin-left:190px;
	padding:20px;
	width: 360px;
	margin-top: 13px;
}

.dd_divDecoracionTelefonos
{

	font-size: 18px;
	border-top: 4px dashed #BEF781;
	border-bottom: 4px dashed #BEF781;
	float: left;
	padding: 20px;
	margin-left: 5px;
	width: 360px;
	height: 295px;
	margin-top: 13px;

}

#dd_int
{
	float: left;
	padding-bottom: 20px;
	padding-right: 10px;
	width: 165px;

}
#dd_ext
{
	float: left;
	padding-bottom: 20px;
	padding-right: 10px;
	width: 165px;

}

#dd_trabajoFuera_puesto
{

	float: left;
	font-size: 18px;
	border-top: 4px dashed #BEF781;
	border-bottom: 4px dashed #BEF781;
	padding: 20px;
	margin-left:190px;
	width: 360px;
	height: 140px;
	margin-top: 10px;
}

#dd_ingreso_antiguedad
{

	border-top: 4px dashed #BEF781;
	border-bottom: 4px dashed #BEF781;
	float: left;
	font-size: 18px;
	height: 140px;
	padding: 20px;
	margin-left: 5px;
	width: 360px;
    margin-top: 10px;
}

#dd_trabajoFuera
{

	float: left;
	padding-right: 23px;

}
#dd_puesto
{

	float: left;
	padding-right: 20px;

}
#dd_antiguedad
{

	float: left;


}
.dd_licenciatura_uniEgreso_fechaTitulacion_cedula
{

	padding-bottom: 40px;
	width: 1230px;
}
.dd_licenciatura
{

	float: left;
	margin-left:0px;
	padding-right: 20px;

}
.dd_uniEgreso
{

	float: left;
	padding-right: 20px;

}
.dd_fechaTitulacion
{

	float: left;
	padding-right: 5px;

}
.dd_cedula
{

	float: left;
	padding-left: 20px;
	width: 170px;

}


.dd_btnAdd
{


	float: left;
	padding-right: 5px;
	width: 30px;

}
.dd_estilo_check
{
	background: blue;
	height: 20px;
 	margin-left:15px;"
	width: 20px;

}
.dd_especialidad
{

	font-size: 16px;
	margin-top: 20px;
	padding-bottom: 10px;
	width: 200px;
}
/*#tbl_dd_cursos
{
	margin: 20px auto;
	height:150px;


}*/
#tbl_dd_cursos
{
	margin: 20px auto;
	height:160px;
}

#tbl_dd_cursos th
{
	height:35px; 
	color:white;
	font-family: "trebuchet MS";
	font-size: 18px;
	background-color: green;
}
#tbl_dd_cursos td
{
height: 35px;
}
.dd_label
{

	font-size: 18px;
	color: green;
}
.dd_btnEstudiosCursos
{

	float: right;
	margin-top: 200px;
}
#dd_impartirMaterias
{
	margin-top: 30px;
	width: 1200px;

}
.dd_tabla
{

	margin:auto;
	width: 95%;
}
.dd_tabla td
{
	text-align: center;
	padding: 5px;
	border:1px solid gray;
  	background: #F0FFFF;
  	font-size: 16px;
  	height: 15px;


}
.dd_tabla_MatImpartir
{

	margin:auto;
	width: 900px;
}
.dd_tabla_MatImpartir td
{
	text-align: center;
	padding: 5px;
	border:1px dotted gray;
  	background: #F0FFFF;
  	font-size: 16px;
  	height: 15px;


}
.dd_encabezado
{
	background: green;
	font-size: 18px;
	color: #fff;
	border:1px solid gray;
}
.dd_encabezado th
{
	height: 40px;
}


.dd_encabezado_blanco
{
	background: #fff;
	font-size: 18px;
	color: #000;
	border:1px solid gray;
}
.dd_encabezado_blanco th
{
	height: 40px;
}


.dd_encabezado_colorNaranja
{
	background: #ECA22E;
	font-size: 14px;
	color:#FFF4C7;

}

.dd_encabezado_colorVerde
{
	background:#004000;
	font-size: 14px;
	color:#D9EEDF;
}

.dd_encabezado_colorVerdeClaro
{
	background:green;
	font-size: 14px;
	color:#FFFFFF;
}

.dd_encabezado_colorNaranja th
{
	height: 30px;
	border:1px solid gray;
}

.dd_encabezado_colorVerde th
{
	height: 30px;
	border:1px solid gray;
}

.dd_encabezado_colorVerdeClaro th
{
	height: 30px;
	border:1px solid gray;
}

#dd_btnBuscar
{
	float: right;
	margin-right: 100px;
	padding-top: 5px;
}

#dd_consulta
{

	margin:auto;
	margin-top: 40px;
	width: 760px;
}

#dd_consultaEmpleado
{

	float: left;
	padding: 10px;
	margin-left: 15px;
	width: 300px;


}
#dd_consultaNombre
{

	padding: 10px;
	float: left;
	width: 390px;
}

#dd_consultaPeriodo
{

	float: left;
	margin-left: 15px;
	padding: 10px;
	width: 300px;

}
#dd_consultarPor
{
	float: left;
	padding: 10px;
	width: 400px;
}
#dd_eliminarDocentes
{
	margin:auto;
}

.dd_clsAgregarFila
{

	background-image: url(../imagenes/add.png);
	background-repeat: no-repeat;

	color:#fff;
	text-align: center;
	height:30px;
	width:30px;
	border-radius:5px;
	border-color: #468C00;
	font-size:16px;
	font-weight:bold;
}
.dd_clsAgregarFila:hover
{
	border: 3px solid green;
	background-image: url(../imagenes/add1.png);

}

.dd_clsAgregarArchivo
{

	background-image: url(../imagenes/attachhh.png);
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: center;



	height:30px;
	width:30px;
	border-radius:5px;
	border-color: #468C00;
	font-size:16px;
	font-weight:bold;
}

.custom-input-file {
    width: 26px;
    height: 26px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: #468C00 solid 2px;
    border-radius:5px;
	background-image: url(../imagenes/attachhh.png);
	background-position: center;
	margin-right: 5px;
    background-repeat: no-repeat;
    
}
.custom-input-file .input-file {
   
   opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    cursor: pointer;
}
.dd_clsAgregarArchivo:hover
{
	border: 3px solid green;
	background-image: url(../imagenes/attachhh1.png);
	background-color: #fff;

}

.dd_clsCancelar
{

	background-image: url(../imagenes/cancel.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;




	height:30px;
	width:30px;
	border-radius:5px;
	border-color: #468C00;
	font-size:16px;
	font-weight:bold;
}
.dd_clsCancelar:hover
{
	border: 3px solid green;
	background-color: #fff;
	background-image: url(../imagenes/cancel1.png);

}

.dd_clsDescargar
{

	background-image: url(../imagenes/descargar.png);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;

	height:30px;
	width:30px;
	border-radius:5px;
	border-color: #468C00;
	font-size:16px;
	font-weight:bold;
}
.dd_clsDescargar:hover
{
	border: 3px solid green;
	background-color: #fff;
	background-image: url(../imagenes/descargar1.png);
}

.dd_con_estilo_propio
{
	margin-left:10px;
	height:40px;
	font-family: 'Indie Flower';
	margin-bottom:10px;
	text-align:center;
 	font-size:30px;
	background-image: url(../imagenes/bj.jpg);
	color: #B5B0B0;
	font-weight: normal;
 	-webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select:none;
    width:250px;
	border-radius: 5px;
}

.dd_divDecoracion
{

	font-size: 18px;
	border-top: 4px dashed #BEF781;
	border-bottom: 4px dashed #BEF781;
	margin-left: 190px;
	height: 370px;
	width: 820px;

}



.dd_divDecoracionCursos
{

	background: #FFF;
	border-top: 4px dashed #BEF781;
	border-bottom: 4px dashed #BEF781;
	height: 150px;
	/*border-radius: 7px;
	border:3px solid #ECECFB;*/
	padding-top: 15px;
	padding-left: 10px;
	padding-bottom: 20px;
	width: 1200px;


}
.dd_divDecoracionEstudios
{
	background: #FFF;
	border-top: 4px dashed #BEF781;
	border-bottom: 4px dashed #BEF781;
	/*border-radius: 7px;
	border:3px solid #ECECFB;*/
	padding-left: 10px;
	padding-bottom: 10px;
	width: 1200px;

}

#dd_btnGuardarDisp
{
	width: 300px;
	height: 80px;
	margin-left: 850px;
	margin-top: -70px;
}

/*----------------------------------------------------------------------------------------------*/
/*------------------------------------PRUEBA IVAN-----------------------------------------------*/
.btnStyleAllTable {
	-moz-box-shadow:inset 0px 3px 8px -2px #ffffff;
	-webkit-box-shadow:inset 0px 3px 8px -2px #ffffff;
	box-shadow:inset 0px 3px 8px -2px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #1f4200), color-stop(1, #3f8c00) );
	background:-moz-linear-gradient( center top, #1f4200 5%, #3f8c00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f4200', endColorstr='#3f8c00');
	background-color:#1f4200;
	-webkit-border-top-left-radius:37px;
	-moz-border-radius-topleft:37px;
	border-top-left-radius:37px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:37px;
	-moz-border-radius-bottomright:37px;
	border-bottom-right-radius:37px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #0a1a00;
	/*display:none;*/
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:38px;
	line-height:38px;
	width:81px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 20px #000000;
	float:right;
	margin-right: 2.2%;
	cursor: pointer;
}
.btnStyleAllTable:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3f8c00), color-stop(1, #1f4200) );
	background:-moz-linear-gradient( center top, #3f8c00 5%, #1f4200 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3f8c00', endColorstr='#1f4200');
	background-color:#3f8c00;
}.btnStyleAllTable:active {
	position:relative;
	top:4px;
}


.tableAll{
	margin-bottom: 8%;
}

/*------------------------------------PRUEBA IVAN-----------------------------------------------*/

/*************************** MODAL SERIACION *******************************/
.fila-base-seriacion
{
	display: none;
}









/*--------------------------------------- HORARIOS --------------------------------------*/
.hr_doc_total_horas
{
	float: left;
	font-size: 20px;
	color:#000;
	margin-left: 850px;
	margin-top:-50px;
	text-align: center;
	height: 50px;
	width: 200px;
}

.hr_doc_total_horas label
{
	color:red;
	font-size: 24px;
	margin-left: 10px;

}
#hr_trunoGrupo
{
	margin: 50px 30px 30px 30px;
	height: 50px;
	width: 1250px;
}
.hr_turnoHorario
{

	margin-left: 10px;
	height: 30px;
	width: 280px;
	float: left;
}
.hr_lblCarrera label
{

	color:green;
	float: right;
	text-align: center;
	font-size: 22px;
	width: 400px;
	height: 50px;
}


.hr_tabla_ca
{
	float: left;
	margin-top:10px;
	margin-bottom: 45px;
	margin-left: 10px;
	margin-right: 10px;


}
.hr_tabla_ca td
{
	border:1px solid gray;
	border-collapse: separate;
  	border-spacing: 7px;
  	background: #F0FFFF;
  	font-size: 13px;
  	height: 30px;

}

.hr_encabezado_tablaConsulta
{

	background: green;
	font-size: 12px;
	color: #fff;
	border:1px solid gray;
}
.hr_encabezado_tablaConsulta th
{
	font-size: 13px;
	height: 40px;
}

.hr_encabezado_tablaHr
{
	background: #ECA22E;
	color: #fff;
	border:1px solid gray;

}
.hr_encabezado_tablaHr th
{
	font-size: 11px;
	height: 40px;
}

 .hr_lblMaterias
 {

 	margin: -50px 0px 0px 15px;
 	width: 1290px;
 	height: 30px;
 	text-align: center;

 }
 /*.hr_lblMaterias label
 {
 	color:green;
 	font-size: 18px;
 }*/

 .hr_titulos
 {

 	color:#000;
 	font-size: 18px;
 	float: left;
 	width: 200px;
 	height: 20px;
 }

 .hr_tituloSearch
 {

 	height: 30px;
 	float: left;
 	margin-left: 200px;
 	width: 900px;


 }

 #hr_tituloDocente
 {

 	color:#000;
 	font-size: 18px;
 	float: left;
 	margin-left: 20px;
 	margin-top: 5px;
 	width: 200px;


 }
 #hr_searchDocente
 {

 	float: left;
 	margin-left: 300px;
 	width: 220px;
 }

/***************************** CONSULTA DE HORARIOS *************************************/

#consultaHorarios
{

	margin: 50px auto  auto  auto;
	width: 750px;

}






/*----------------------------------------------------------------------------------------*/