body
{
background-image: url(../imagenes/fondo.png);
font-family: "trebuchet MS";
font-weight: bold;
font-size: 15px;
margin: auto;
}

#pie_correo
{
	color: white;
	font-size: 13px;
	margin-left: 1100px;
}
#pie_tel
{
	color: white;
	font-size: 13px;
	margin-left: 1188px;
}
#unidadaprendizaje
{
	width: 1200px;
  	margin: auto;
}
fieldset #group_seriacion
{
	width: 750px;
	float: left;
	margin-top: -30px;
	margin-left: 20px;

}
legend
{
	padding: 2px; 
}
figure
{
	margin: 0;
	padding: 0;
	display: inline-block;
}
h1
{
	color: white;
	font-weight: normal;
	text-shadow:2px 2px 0 black;
	text-align: center;
	font-size: 1.5em;
	margin-top: 0px;
	margin-left: 270px;
}
h3
{
	color: #D9D9EA;
	font-size: 1.4em;
	font-weight: normal;
	text-align: center;
	text-shadow:2px 2px 0 #000;
	margin-top: 0px;
	margin-left: 265px;
}
header
{
	background: #006600;
	border-radius: 7px 7px 7px 7px;
	height: 94px;
	overflow: hidden;
	width: 1366px;
	margin: auto;
	box-shadow: 2px 2px 2px #000;
}
section
{   
	background-color: rgba(104,160,26,0.3);
	border: 2.2px solid black;
	border-radius: 7px;
	height: auto;
	width: 1320px;
	margin:auto;
	margin-top: 10px;
	padding-bottom: 20px;
	transition: 0.3s ease all;
}
section:hover
{
	background-color: white;
	border: 2.2px solid orange;
	box-shadow: 0px 0px 20px orange;
}
section #primerBloque
{
	
	
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 10px;
	height: 40px;
	width: 1250px;
	margin: auto;
}
section #segundoBloque
{
	
	padding-top: 20px;
	padding-left:20px;
	height: 50px;
	width: 1250px;
	margin:auto;
}
section #tercerBloque
{
	
	padding-top: 40px;
	height: 60px;
	width: 1250px;
	margin-left: 0px;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
}
section #cuartoBloque
{

	padding-top: 20px;
	height: 125px;
	width: 1250px;
	margin: auto;
}
footer
{
	background-image: url(../imagenes/footer.png);
	border-radius: 7px 7px 7px 7px;
	height: 42px;
	width: 1366px;
	margin: auto;
	margin-top:15px;
}
#Consultas
{
	width: 100%;
	height: 130px;

	
}
#pe_consultaActualizada
{
	
	font-size: 20px;
	color:#004000;
	margin: -50px auto;
	width: 240px;
}
#consultaPlan
{
	height: 120px;
	margin-top:0px;
	margin-left:80px;
	margin-bottom:100px; 
	width: 1140px;
}
#consultax
{
	padding-top: 10px;
}
#consultay
{
	padding-top: 15px;
}
#consultaboton
{

	
	margin-left: 1100px;
	margin-top: -210px;
	height: 130px;
	width: 115px;



}
#consultaboton_limpiar
{
	padding-top: 5px;
}
.clsEliminarFila
{
	height:25px; 
	width:28px; 
	border-color:#468C00; 
	border-radius:5px;
	background-color:#004000;
	color:#FFF;
	font-size:16px;
	font-weight:bold;
}
.clsEliminarFila:hover
{
background: #EFCA0D;	
}
.con_estilo
{
	font-size: 13px;
	width:120px;
	height:30px;
	border-radius: 5px;
	border-color: #CACAD9;
}
.coordina
{
	width: 135px;
	border-radius: 5px;
	height: 25px;
	border-color: #DBDBEA;
}
.estilo_text
{
	width: 80px;
	height: 25px;
	border-radius: 5px;
	border-color: #DBDBEA;
}
.estilo_numeric
{
	width: 80px;
	height: 25px;
	border-radius: 5px;
	border-color: #DBDBEA;
}
.estilo_button
{
	border-color:#ECA22E; 
	border-radius:5px;
	background-color:#ECA22E; 
	color:#004000; 
	font-size:20px; 
	text-align: center;
	width:30px;
	text-decoration:none;
}
.estilo_button2
{
	border-color:#468C00; 
	border-radius:5px;
	background-color:#004000; 
	color:#fff; 
	font-size:23px; 
	text-align: center;
	height: 50px;
	width:100px;
	margin-left: 20px;
}
.estilo_button2:hover
{
	background: #ECA22E;
}
#botones
{
	margin-top: -50px;
	width: 280px;
	float: left;
}
#cimarron
{
	float: right;
}
#GridPlanEstudio
{
	margin:auto;
	margin-top: 25px;
	margin-bottom: 25px;
	width: 1280px;
}
#logo  
{
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 60px;
	height: 80px;
}
#consultamateriaclavechecks
{
	margin-top: 15px;
	background-color: red;
	width: 100%;
}
.texto_body
{
	font-weight: bold;
	font-size: 1.2em;
	color:#003F00;
	margin-left: 50px;
}
#titulo
{
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	padding: 0;
	width: 900px;
}
#usuariofecha
{
	display: inline-block;
	font-size: 13px;
	margin-left: 0px;
}
#ubicacion
{

	
	display: inline-block;
	font-size: 17px;
	margin: auto;
	margin-left: 120px;
}
#loginmanual
{
	display:inline-block;
	float: right;
	font-size: 13px;
	padding-right: 65px;
}
#indicadores
{
	
	margin: 0 auto;
	padding-top: 35px;
	width:1320px;
	padding-bottom: 10px;
}
#consultaetapas
{
	color:#004000;
	font-size: 20px;
	margin:auto;
	margin-top: 20px;
}
#etapabasica
{
	display: inline-block;
	margin-top:40px;
	padding-left: 205px;
}
#etapadisciplinaria
{
	display: inline-block;
	padding-left: 247px;
}
#etapaterminal
{
	display: inline-block;
	padding-left: 243px;
}
#basica_semestres
{

	float: left;
	margin-top: 15px;
	width: 450px;
}
#semestre_uno
{
	float: left;
	font-size: 20px;
	margin-left: 130px;
	padding-right: 70px;

	width: 50px;
}

#semestre_dos
{
	float: left;
	font-size: 20px;
	padding-right: 70px;
	width: 50px;
}

#semestre_tres
{
	float: left;
	font-size: 20px;
	width: 50px;
}
#disciplinaria_semestres
{
	float: left;
	margin-top: 15px;
	width: 440px;
}
#semestre_cuatro
{
	
	float: left;
	font-size: 20px;
	margin-left: 75px;
	padding-right: 75px;
	width: 50px;
}
#semestre_cinco
{
	
	float: left;
	font-size: 20px;
	padding-right: 80px;
	width: 50px;
}
#semestre_seis
{

	float: left;
	font-size: 20px;
	padding-right: 60px;
	width: 50px;
}

#terminal_semestres
{
	float: left;
	margin-top: 15px;
	width: 400px;
}

#semestre_siete
{
	
	float: left;
	font-size: 20px;
	margin-left: 40px;
	padding-right: 75px;
	width: 50px;
}
#semestre_ocho
{
	
	float: left;
	font-size: 20px;
	padding-right: 75px;
	width: 50px;
}
#semestre_nueve
{
	
	float: left;
	font-size: 20px;
	padding-right: 60px;
	width: 50px;
}
#totalcreditos
{
	
	color:#004000;
	font-size: 18px;
	padding-left: 25px;
	padding-bottom: 20px;
	width: 220px;
	margin-left:115px;

}
#actualizaimprime
{
	height: 70px;
	margin-left:1110px;
	margin-top: 10px;
	padding-right: 20px;
}
#guardar
{
	float:left;
}
#carreraDiv 
{
	
	margin: 1em 0em;
	float:left;
	width: 250px;
	margin-top:0px;
	margin-left: 18px;
	/*margin: 1em 0em;
	width: 250px;
	float: left;
	padding-left: 15px;*/
}
	/*#ingresar
{
	width:140px;
	 height:70px;
}*/
.tablaDatos 
{
	font-family:"Trebuchet MS";
	font-size: 15px;
	font-style: normal;
	text-decoration: none;
	margin:auto;
	margin-bottom: 20px;
	border-collapse: collapse; 
	border: 1px solid #CCB; 
	width: 100%;
}
.tablaDatos th
{
	color:green; 
	height:30px;
	text-align:center;
	background: #E5E5E5; 
}
.tablaDatos tr
{
	text-align:left;
}
.tablaDatos tr:nth-child(2n+0)
{
	background:#EDF7ED;
}


/*Estilo para la ventana de consulta (controles de busqueda)*/
#consul_noPlan
{
	margin-left:20px;
}

#consul_carrera
{
	margin-left:210px;
	margin-top:-30px;	
}
#consul_clave
{
	margin-left:440px;
	margin-top:-30px;
}
#materiaCon
{
	text-transform:uppercase;
	width:260px;
	height: 25px;
	border-radius: 5px;
	border-color: #DBDBEA;
}
#consul_materia
{
	margin-left:630px;
	margin-top:-30px;
}
#consul_etapa
{
	margin-left:35px;
}
#consul_tipo
{
	margin-left:233px;
	margin-top:-30px;
}
#consul_serie
{
	margin-left:415px;
	margin-top:-30px;
}
#coordinacion
{
	text-transform:uppercase;
	width:265px;
	height: 25px;
	border-radius: 5px;
	border-color: #DBDBEA;
}
#consul_coor
{
	margin-left:640px;
	margin-top:-30px;
}
#elimImg
{
	float:right;
	margin-right:3px;
	margin-top:6px;
	width:13px;
	height:13px;
}
#noPlanDiv
{
	
	width: 240px;
	float: left;
	margin-left: 0px;
	padding-right:7px;
}
#unidadAcademicaDiv
{
	
	width: 150px;
	float: left;
	margin-top:5px;
	margin-left: -12px;	
	padding-left: 20px;
	
}
/*#campusDiv
{
	

	width: 150px;
	float: left;
	margin-top:5px;
	padding-left: 7px;	
}*/
#unidadDiv
{
	
	width: 250px;
	float: left;
	margin-top: 5px;
	padding-left: 15px;
	padding-right: 15px;
}
#nivelDiv
{ 

	width: 230px;
	float: left;
	padding-left: 66px;
	padding-top: 5px;
}
/*#tipoProgrDiv
{
	
	width: 250px;
	float: left;
	padding-left: 40px;
	
}*/
#claveDiv
{
	width: 178px;
	float: left;
}
#materiaDiv
{
	width: 450px;
	float: left;
	padding-left: 20px;
}
#etapaDiv
{
	
	width: 240px;
	float: left;
	padding-left:60px;
	
}
#tipoDiv
{
	
	width: 230px;
	float: left;
	margin-left: 65px;
}
#semestreDiv
{
	width: 165px;
	float: left;
	padding-left:33px;
}
#claveSerDiv
{
	width: 140px;
	float: left;
	padding-left:5px;
}
#seriacionDivMateria
{
	
	width: 285px;
	float: left;
	padding-left:0px;
}
#seriacionDivTipo
{
	
	width: 300px;
	float: left;
	padding-left: 10px;
}
#coordDiv
{
	
	width: 245px;
	float: left;
	margin-left: 1020px;
	margin-top: -45px;
}
#hcDiv
{
	width: 120px;
	float: left;
	padding-left: 33px;
}
#hlDiv
{
	width: 150px;
	float: left;
	padding-left: 10px;
}
#htDiv
{
	width: 130px;
	float: left;
	margin-left: -15px;
}
#heDiv
{
	width: 120px;
	float: left;
	padding-left: 34px;
}
#hpcDiv
{
	width: 150px;
	float: left;
	padding-left: 0px;
}
#hclDiv
{
	width: 130px;
	float: left;
	margin-left: -15px;
}
#creditosDiv
{
	
	width: 200px;
	float: left;
	margin-left: -7px;

}
#observacionesDiv
{
	
	width: 480px;
	float: left;
	margin-left: 270px;
	margin-top: -80px;
}

#planTerminado
{
	
	margin-left: 1000px;
	margin-top: -20px;
	margin-bottom: 10px;
	width: 300px;

}
#checkTroncoComun
{
	
	width: 150px;
	margin-left: 855px;
	margin-top: -25px;
	
}

#acciones
{

	margin-top: 20px;
	margin-left: 765px;
	width: 530px;
	height: 55px;
}
#periodo_Ca
{
	margin: 10px;
	width: 270px;
}
#botones_Ca
{
	margin-left: 285px;
	margin-top: -65px;
	padding: 5px;
	width: 230px;
}
.coordinacion_Ca
{

	float: left;
	font-size: 22px;
	font-weight: normal;
	color:#004000;
	text-align: center;
	margin-top:20px;
	padding-left: 22px;
	width: 250px;
}
#listas_Contenedor
{
	background-color: blue;
	width: 1320px;
}

#mensajesIcono
{
	
	float:right;
	height:50px;
	margin-right:110px;
	width:150px;
		
}

#statusPlanEstudios
{
	
	font-size: 18px;
	float: right;
	margin-right: 90px;
	padding: 7px;
	padding-top: 12px;
	padding-bottom: 0px;
	width: 170px;
	
}
#checkSubdirector
{
	
	float: right;
	padding: 5px;
	padding-top: 12px;
	padding-right: 20px;
}



/*----------------- CATALOGOS -------------------*/

.tblCatalogos
{
	
	margin-left: 30px;
	height: 350px;
	width: 550px;

}
.tblCatPlan
{
	background:#ECECFB;
	border-style: none;
	border-collapse: separate;
  	border-spacing: 10px 5px;
  	border-radius: 7px;   	
  	font-size: 18px; 	  	
  	margin: auto;
  	margin-top: 50px;
  	padding:20px;
	width: 500px;
}
.tblCatPlan td 
{
	color:#004000;
	text-align: left;
	
}
.lblCatalogosDependencias
{
	
	font-size: 20px;
	font-weight: bold;
	margin: auto;
	width: 550px;
}
.CatBotones
{

	width: 250px;
	
}


/*-----------------TERMINA CATALOGOS-------------*/

/* ---------------- USUARIOS --------------------*/
#usuarioContrasena
{
	background: blue;
	 height: 300px;
	 width: 450px;
	 margin: auto;
	 padding-bottom: 150px;
}
#introUsuarioContrasena
{
	
	color:#004000;
	font-size: 17px;
	margin-left:-36px;
	padding-bottom: 20px;
	width: 450px;

}
#usuarios
{
	background: white;
	border-radius: 10px;
	border: 3px solid orange;
	height: 300px;
	width: 400px;
	margin: auto;
	margin-top: 70px;
	
}
#usuarioLogin
{
	
	margin: auto;
	margin-top: 10px;
	width: 300px;
}
#contrasenaLogin
{
	
	margin: auto;
	margin-top: 20px;
	padding-bottom: 20px;
	width: 300px;
	
	
}
#btnIniciarSesion
{

	margin: auto;
	width: 200px;
}
#RegistrarseUsuarios
{

	font-size: 16px;
	font-family: "Trebuchet Ms";
	font-weight: bold;
	color:#004000;
	margin-right:0px;
	margin-top: 15px;
	width: 300px;
}

#formularioRegUsuarios
{

	
	margin: auto;
	margin-top: 70px;
	padding-bottom: 50px;
	width: 670px;
}
#nombreApellidos
{
	
	margin-top: 30px;
	margin: auto;
	padding-left: 15px;
	padding-top: 20px;
	padding-bottom:60px;
	width: 630px;

}
#nombreRegUsuarios
{
	
	float: left;
	width: 300px;
}
#apellidosRegUsuarios
{
	
	float: left;
	padding-left: 30px;
	width: 300px;
}
#correoContrasena
{
	margin:auto;
	padding-left: 15px;
	padding-bottom: 70px;
	width: 630px;
	
}
#correoE
{
	
	float: left;	
	width: 300px;
}
#contrasenaRegUsuarios
{
	
	float: left;	
	padding-left: 30px;
	width: 300px;
}

#unidadCampusReg
{

	
	margin:auto;
	padding-left: 15px;
	padding-bottom: 150px;
	width: 670px;

}
#unidadAcadRegUsuarios
{
	
	float: left;
	padding-left: 20px;
	width: 300px;
}
#campusRegUsuarios
{
	
	float: left;
	padding-left: 30px;
	width: 320px;
}
#btnCampusReg
{
	
	float: left;
	padding-left: 7px;
	width: 30px;
}
#btnRegistroUsuario
{
	
	margin:auto;
	width: 200px;
}
#btnUnidadAcadRegistro
{
	
	float: left;
	padding-left: 7px;
	width: 30px;

}

/* ------------------------------------------------------*/


/* ---------------- BITACORA --------------------*/
#controlesBuscarBit
{
	
	margin: auto;
	height: 130px;
	margin-top: 15px;
	width: 850px;

}
#controlesBitacora
{
	
	padding-top: 15px;
	margin: auto;
	width: 850px;
	
	
}
#modulosFechasBit
{
	
	padding-bottom: 40px;
	
}
#cmbModulosBit
{
	
	float: left;
	padding-left: 10px;
	padding-right: 25px;
}
#fechaIniBit
{
	
	float: left;
	padding-left: 20px;
}
#lblFechaIniBit
{
	
	float: left;
	margin-top: 5px;
	padding-right: 3px;
}
#fechaFinBit
{
	
	float: left;
	padding-left: 40px;
}
#lblFechaFinBit
{
	
	float: left;
	margin-top: 5px;
	padding-right: 3px;
}
#seccionBuscarPorBit
{
	
	margin: auto;
	padding-left: 8px;
	width: 1250px;
	padding-bottom: 20px;
}
#cmbSeccionesBit
{
	
	float: left;
	padding-right: 32px;
}
#cmbBuscarPorBit
{
	
	float: left;
	padding-left: 43px;
}
#btnBuscarBit
{
	margin-left: 685px;
	margin-top: -20px;
	width: 120px;
}
#btnImprimirBit
{
	margin-left: 1140px;
	margin-top: 40px;
	width: 120px;
}

/*--------------------------CATALOGOS ADMIN-------------------------*/

#adminCatalogosFieldset
{
	
	margin: auto;
	margin-top: 20px;
	width: 420px;
	height: 80px;

}

#cmbBuscarCatalogo
{
	float: left;
	margin-left: 10px;
	margin: auto;
	margin-top:10px;
	width: 270px;
}
#btnBuscarCatalogo
{
	float:left;

}


/*---------------------TOOLTIP TEXT PARA EL GRIDVIEW-------------------------*/

 .tooltip{
      display: inline;
      position: relative;
  }
  .tooltip:hover:after{
      background: #333;
      background: rgba(0,0,0,.8);
      border-radius: 5px;
      bottom: 26px;
      color: #fff;
      content: attr(title);
      left: 20%;
      padding: 5px 15px;
      position: absolute;
      z-index: 98;
      width: 220px;
  }
  .tooltip:hover:before{
      border: solid;
      border-color: #333 transparent;
      border-width: 6px 6px 0 6px;
      bottom: 20px;
      content: "";
      left: 50%;
      position: absolute;
      z-index: 99;
  }

  /*-----------------------------PRUEBA CARRERA---------------------------------------*/
#carreraPrueba
{
	background: yellow;

	width:500px;
	height: 200px;
	margin: auto;

}
/*----------------------------------------------------------------------------------*/


/*-------------------------------CARGA ACADEMICA--------------------------------------*/
.contenedorCa
{
	height: 1500px;
	width: 1320px;
}
.nombre_coordinacion
{
	
	font-size: 24px;
	color: green;
	height: 50px;
	margin-top: 20px;
	margin-left: 40px;
	width: 500px;

}

#planVigente
 {
 	
 	float: left;
 	height: 700px;
 	width: 500px;
 	margin-top: 10px;
 	margin-left: 40px;
 }
#btnPlanA
{
	
	height: 50px;
	width: 215px;
	float: left;
	margin-top: 350px;
	padding-right: 25px;

}

 #planAnterior
 {
 	
 	float: left;
 	height: 700px;
 	width: 500px;
 	margin-top: 12px;
 		
 }
#periodoCa
{

	height: 80px;
	margin-top: -50px;
	margin-left: 770px;
	width: 530px;
}
.controlesListasCa
{


	float: left;
	height: 50px;
	text-align: center;
	margin: auto;
	width: 470px;
}
#btnNuevaCaDiv
{
	

	float: left;
	height: 50px;
	margin: 10px;
	width: 230px;
}
#divPeriodo
{
	
	float: left;
	font-size: 20px;
	height: 50px;
	margin: 20px;
	margin-left: 0px;
	width: 250px;
}
.listasCa
{
	height: 550px;
	margin-top: 5px;
}
.nombrePlan
{

	font-size: 24px;
	text-align: center;
	margin: auto;
	height: 50px;
	width: 200px;
}

#contenedorRegistroca_mostrar
{
	
	margin: auto;
	margin-top: 900px;
	width: 1300px;

}
#btnGuardarCa_registro
{
	
	height: 50px;
	margin-top: 30px;
	margin-left: 1040px;
	width: 200px;
}
.filtroMaterias_ca
{
	height: 50px;
	width: 350px;
}
.filtroMaterias_ca2
{

	height: 40px;
	margin-left: 15px;
	margin-top: 50px;
	margin-bottom: 5px;

	width: 250px;

}
.tabla_cargaUA
{
	
	margin: -60px auto;
	width: 1200px;
}

.cmbGrupos_superior
{ 
	
	float: left;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-top: 0px;
	width: 230px;

}


/*---------------------------- CARGA 2 -----------------------------------*/
.carga_listas
{
	
	background:white;
	border: 2px solid gray;
	border-radius: 10px;
	float: left;
	margin-bottom: 30px;
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 20px;
	height: 400px;
	width: 420px;	
}
.controlesListasCa_2
{


	width: 405px;
	height: 50px;
	margin: auto;
	margin-top: -300px;

}
.nombre_semestre
{
	float: left;
	font-size: 16px;
	height: 30px;
	text-align: center;
	width: 200px;
	
	margin-top: 15px;
}
.nombre_plan
{
	
	float: left;
	font-size: 16px;
	height: 30px;
	text-align: center;
	margin-top: 15px;
	width: 200px;
}
.nombre_escuela
{
	margin-left: 800px;
}
.consultar_admin
{
	
	width: 300px;
	margin-left: 15px;
	margin-top: 0px;
	height: 40px;
}
/*---------------------------CONSULTA CARGA ACADEMICA ------------------------*/
.estilo_button_lupa
{
	border-color:#ECA22E; 
	border-radius:5px;
	background-color:#ECA22E; 
	color:#004000; 
	height: 35px;
	text-align:center;
	width:35px;

	
}
#consul_periodo_ca
{

	float: left;
	margin-left: 20px;
	padding-right: 45px;
}
#consul_semestre_ca
{
	float: left;
	padding-right: 40px;
}
#consul_carrera_ca
{
	float: left;
	padding-right: 40px;
}
#consul_grupo_ca
{
	
	float: left;
	
	
}
#consul_turno_ca
{
	float: left;
	padding-right: 40px;
	
}
#consul_seriacion_ca
{
	float: left;
	margin-left: 10px;
	padding-right: 70px;
}
#consul_habilitados_ca
{
	float: left;
	padding-right: 70px;
}
#consul_deshabilitados_ca
{
	float: left;
	padding-right: 70px;
}

.consultax_ca
{
		
	font-size: 16px;
	height: 50px;
	margin: auto;
	margin-top: 10px;
	text-align: center;
	padding-left: 10px;
	
	width: 1200px;
}
.consultay_ca
{
	
	font-size: 16px;
	height: 50px;
	margin-left: 10px;
	padding-left: 10px;
	padding-right: 10px;
	width: 850px;
}
#consultaboton_ca
{
	
	height: 50px;
	margin-top: -60px;
	margin-left: 955px;
	width: 150px;	
}
.tabla_ca
{

	
	float: left;
	font-size: 12px;
	margin-bottom: 30px;
	margin-left: 20px;
	margin-right: 20px;
		
}
.semestre_plan
{
	font-size: 15px;
	font-weight: bold;
	
}
.encabezado_tabla
{
	font-size: 14px;
	color: green;
	border: 1px solid #000;
}
.encabezado_optativas
{
	font-size: 14px;
	color: green;
}

#ajaxLoad
{
	display: none;
	width: 50%;
	/*border: 1px solid orange;*/
	position: relative;
	margin-left: 20%;
}

#ajaxLoad img
{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 64px;
	height: 64px;
	margin: -32px 0 0 -32px;
}

/*----------------------------------DISPONIBILIDAD DOCENTE----------------------------------------*/
.dd_datosPersonales
{
	margin: auto;
	width: 1200px;
	margin-top: 30px;
}


.leyendas_fieldset
{
	font-size:18px;
	font-weight:normal;
}

/*Apartir de aqui estan los id de los elementos ordenados en forma alfabetica*/
/*Estilo para la seccion de datos personales*/
#apaterno
{
	margin-top:15px;
	margin-left:30px;
}

#amaterno
{
	margin-top:-30px;
	margin-left:325px;	
}

#antiguedad
{
	margin-left:425px;
	margin-top:-30px;
}
#calle
{
	margin-left:330px;
	margin-top:-30px;
}

#celular
{
	margin-left:630px;
	margin-top:-30px;
}

#cimarron
{
	float: right;
}

#colonia
{
	margin-top:15px;
	margin-left:30px;
}

#cp
{
	margin-left:1050px;
	margin-top:-30px;
}

#email
{
	margin-left:900px;
	margin-top:-30px;
}

#emailalterno
{
	margin-top:20px;
	margin-left:795px;
}

#fechaingresouabc
{
	margin-left:930px;
	margin-top:-30px;
}

#foto
{
	margin-left:85px;	
	margin-top:15px;
}

#logo  
{
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 60px;
	height: 80px;
}

#noempleado
{
	margin-left:680px;
}

#nombres
{
	margin-top:-30px;
	margin-left:630px;
}

#noexterior
{
	margin-left:835px;
	margin-top:-30px;
}

#nointerior
{
	margin-left:630px;
	margin-top:-30px;
}

#puesto
{
	margin-left:53px;
	margin-top:20px;
}
#rfc
{
	margin-top:30px;
	margin-left:80px;	
}

#sexo
{
	margin-left:1025px;	
	margin-top:-30px;
}

#telparticular
{
	margin-left:300px;
	margin-top:-30px;
}

#teloficina
{
	margin-top:15px;
}
.telefonos
{
	width:120px;
}
#titulo
{
	display: inline-block;
	vertical-align: top;
	margin: 0px;
	padding: 0;
	width: 900px;
}

#otrotrabajo
{
	margin-left:320px;
	margin-top:-30px;
}

#txtantiguedad
{
	width:90px;
}
#txtcalle
{
	width:180px;
}

#txtotrotrabajo
{
	width:640px;
}

#txtpuesto
{
	width:180px;
}
#txtcp
{
	width:60px;
}


.txtemail
{
	width:200px;	
}

#txtfoto
{
	width:450px;
	height:50px;
}

#txtnoexterior
{
	width:60px;
}
#txtnointerior
{
	width:60px;
}

#txtnoempleado
{
	width:90px;
	margin-top:30px;
}

#txtnombres
{
	width:250px;
}

#txtrfc
{
	width:120px;
}
/*Estilo para la seccion de grado de estudios*/

#txtlicenciatura
{
	width:180px;
}

#uniegresolic
{
	margin-left:345px;
	margin-top:-30px;
}
#fechatitulacion
{
	margin-left:665px;
	margin-top:-30px;
}
#cedulalic
{
	margin-left:1050px;
	margin-top:-30px;
}
.cedulas
{
	width:75px;
}

#chkespecialid, #chknoespecialid, #chkmaestria, #chknomaestria, #chkdoctorado, #chknodoctorado
{
	width:25px;
	height:25px;
	text-align:center;
}
#nombreesp, #nombremaes, #nombredoc
{
	margin-left:220px;
	margin-top:-30px;
}

#especialidad
{
	margin-top:15px;
}
#uniegresoesp, #uniegresomaes, #uniegresodoc
{
	margin-left:575px;
	margin-top:-30px;
}
#cedulaesp, #cedulamaes, #ceduladoc
{
	margin-left:1050px;
	margin-top:-30px;
}
#maestria
{
	margin-left:35px;
	margin-top:15px;
}
#doctorado
{
	margin-left:16px;
	margin-top:15px;
}

.nombestudios
{
	width:300px;
}
.univegresos
{
	width:300px;
}
/*estilo de los cursos y/o congresos*/

#curso
#txtnomcurtomado, #txtcursoactual
{
	width:200px;
}

#fechatomado, #fechaactual
{
	margin-left:500px;
	margin-top:-30px;
}
#valorcurritomado, #valorcurractual
{
	margin-left:800px;
	margin-top:-30px;
}
.valorcurricular
{
	width:90px;
}
/*----------------------------------------------------------------------------------------------*/


