/* CSS Document */
/*El estilo se encuentra ordenado de forma alfabetica, primero se enlistan los id y luego las clases, se crearon
carpetas por funcionalidad es decir, las imagenes se ubican dentro de la carpeta correspondiente. Los ID se identifican 
por el simbolo "#" y las clases por el simbolo "." */

#calendarizacion{
	background-image:url(../imagenes/principal/ce.png);
	background-repeat:no-repeat;
	}
#carga{
	background-image:url(../imagenes/principal/ca.png);
	background-repeat:no-repeat;
	}
/*Este div contiene las opciones del menu principal correspondientes a cada módulo*/
#contenedor{
	width:660px;
	height:auto;
	margin:auto;
	margin-top:60px;
	}
#contenedor div:hover{
	border-style:dotted;
}
#disponibilidad{
	background-image:url(../imagenes/principal/dd.png);
	background-repeat:no-repeat;
	}
#horarios{
	background-image:url(../imagenes/principal/ch.png);
	background-repeat:no-repeat;
	}
#inasistencias{
	background-image:url(../imagenes/principal/ci.png);
	background-repeat:no-repeat;
	}
/*Div que dibuja la linea color naranja*/
#linea1{
	width:500px;
	height:5px;
	background:#F7AE10;
	margin-bottom:-15px;
	margin-left:200px;
	
	}
/*Div que dibuja la linea color verde*/
#linea2{
	width:500px;
	height:5px;
	background:green;
	float:right;
	margin-top:-15px;
	margin-right:200px;
	}
/*Div que forma la ventana modal*/
#modal{
	margin:auto;
	width:1350px;
	transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	}
#modal .overlay {
	background-color: #000;
	background: rgba(0,0,0,.8);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: -10;
	}
/*Div que contiene la informacion del pie de página*/
#pie{
	font-family:"Corbel";
	font-size:21px;
	text-align:center;
	margin-top:480px;
	}
#pie span{
	font-size:18px;
	}
#plan{
	background-image:url(../imagenes/principal/pe.png);
	background-repeat:no-repeat;
	}
/*Div que contiene la imagen del boton salir*/
#salir{
	width:40px;
	height:40px;
	margin:5px 835px;
	}
/*Representa el div que tiene todo el contenido del menu inicial*/
#ventanacompleta{
	width:900px;
	height:700px;
	margin:auto;
	margin-top:110px;
	border:5px solid #F7AE10;
	border-radius:10px;
	background:white;
	}
h1{
	font-family:"Corbel";
	font-size:38px;
	color:#004000;
	text-align:center;
	}
h1 span{
	font-size:27px;
	}
h2{
	font-family:"Corbel";
	font-size:20px;
	color:#004000;
	text-align:center;
	padding-top:133px;
	}
.opcion{
	width:200px;
	height: 175px;
	float:left;
	border:5px solid #F7AE10;
	border-radius:5px;
	margin-left:10px;
	margin-bottom:10px;
	background:white;
	}
