.view {
	width: 200px;
	height: 150px;
	margin: 15px;
	float: left;
	border: 7px solid #ECA22E;
	border-radius:8px;	
	overflow: hidden;
	position: relative;
	text-align: center;
	-webkit-box-shadow: 1px 1px 2px #e6e6e6;
	-moz-box-shadow: 1px 1px 2px #e6e6e6;
	box-shadow: 10px 10px 20px #e6e6e6;
	cursor: default;
	background: #fff url(../imagenes/bgimg2.jpg) no-repeat center center;
	
}
/*define el cuadrito verde del nombre y mascara*/
.view .mask,.view .content {
   width: 250px;
   height: 200px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}
.view img {
   display: block;
   position: relative;
}
.view h2 {
   text-transform: uppercase;
   color: #ECA22E;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 0px;
   background: rgba(204, 119, 34, 0.8);
   margin: 20px 0 0 0;
   width:200px;   
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 14px;
   position: relative;
   color: #fff;
   padding: 5px 5px 5px;
   text-align: center;
   width:240px;
}
.view p{
	text-decoration:underline;
}
.view a.info {
   display: inline-block;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   -webkit-box-shadow: 0 0 1px #000;
   -moz-box-shadow: 0 0 1px #000;
   box-shadow: 0 0 1px #000;
}
.view a.info: hover {
   -webkit-box-shadow: 0 0 5px #000;
   -moz-box-shadow: 0 0 5px #000;
   box-shadow: 0 0 5px #000;

}
